.overlay {
  height: 100vh;
  width: 100vw;
  /* background-color: rgba(0, 0, 0, 0.7); */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: relative;
  /* С высотой костыльное решение, ибо рухнет при переполнении хэдера. Да и первый клик всё равно приводит к закрытию модалки, а не взаимодействию с хэдером */
  height: calc(100vh - 98px);
  width: 100vw;
  padding: 16px;
  background-color: var(--main-background-color);
  text-align: center;
}

.closeModalButton {
  position: absolute;
  top: 25px;
  right: 17px;
  width: 14px;
  height: 14px;
  border: none;
  cursor: pointer;
  background: url('../../assets/icons/close.svg') center center / 14px 14px no-repeat transparent;
}
