.filterHeading {
  font: var(--font-medium-headers);
  text-align: left;
  margin: 0 0 24px;
  color: var(--color-light-black);
}

.colorsFilterList {
  list-style: none;
  margin: 0 0 24px;
  padding: 0;
  text-align: left;
  color: var(--color-light-black);
}

.colorsFilterLabel {
  display: block;
  cursor: pointer;
  padding: 8px;
  align-items: baseline;
  display: flex;
  align-items: center;
  column-gap: 12px;
  &:hover {
    background-color: var(--color-light-gray);
    border-radius: 20px;
  }
}

.customCheckbox {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: block;
  display: inline-block;
  cursor: pointer;
}

.colorsFilterList input:checked + .customCheckbox {
  background: url('../../assets/icons/check.svg') center center / 13px 9px no-repeat transparent;
}

.colorsDesc {
  text-transform: capitalize;
  font: var(--font-product-description-desktop);
}

.resetFiltersButton {
  font: var(--font-filters);
  color: var(--color-gray2);
  border: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    color: var(--color-blue2);
  }
}

@media (min-width: 1600px) {
  .filters {
    text-align: center;
  }

  .filterHeading {
    font: var(--font-small-headers);
  }
}
