.headingSection {
  position: relative;
}

.pageHeading {
  font: var(--font-medium-headers);
  margin: 16px 0 13px;
  color: var(--color-light-black);
}

.showFilterButton {
  position: absolute;
  top: 10px;
  right: 0;
  width: 16px;
  height: 15px;
  border: none;
  cursor: pointer;
  background: url('../../assets/icons/filters.svg') center center / 16px 15px no-repeat transparent;

  @media (min-width: 1600px) {
    display: none;
  }
}

.controlsSection {
  display: flex;
  justify-content: space-between;
  margin: 0 0 24px;
}

.colorsFilterSection {
  display: none;

  @media (min-width: 1600px) {
    display: block;
  }
}

@media (min-width: 1600px) {
  .productsPage {
    display: grid;
    grid-template-columns: 384px auto;
    grid-template-rows: repeat(auto, 2);
    column-gap: 32px;
  }

  .headingSection {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .controlsSection {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .colorsFilterSection {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .catalogSection {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .pageHeading {
    font: var(--font-large-headers);
    margin: 32px 0;
  }
}
